<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ferreteria</title>
</head>
<header>
  <nav>
    <ul>
      <li>
        inicio
      </li>
      <li>
        nosotros
      </li>
      <li>
        contacto
      </li>
    </ul>
  </nav>
</header>
<body>
  <a href="#">Iniciar secion</a>
  <a href="#">registrate</a>
  {% block contenido %}

  {% endblock %}
</body>
<footer>
  made with &hearts; by me
</footer>
</html>